/************************************************************************************************************* RESETS */
body        { background-color: #F3F3F3; color: #333; }
body, ul    { margin: 0; padding: 0; }
body, a     { font: 400 14px 'helvetica', 'Arial', sans-serif; }
ul          { list-style: none; }
img         { display: block; }


/************************************************************************************************************ Classes */
.wrap{
  margin: 0 auto;
  width: 1000px;
}
/*************************************************************************************************** Footer to bottom */
*               { margin: 0; padding: 0; }
html            { height: 100%; }
* html body     { height: 100%; }
body            { min-height: 100%; position: relative; }
content .wrap   { padding-bottom: 120px; }
footer          { position: absolute; bottom: 0; height: 80px; }